* {
    font-family: 'genwan';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 1rem;
}
h2 {
    text-indent: 1.2rem;
}
h3 {
    text-indent: 1.4rem;
}
h4 {
    text-indent: 1.6rem;
}
h5 {
    text-indent: 1.8rem;
}
h6 {
    text-indent: 2rem;
}
p {
    text-indent: 2.2rem;
}
pre {
    font-family: 'Cascadia Code';
    font-size: 0.8rem;
}

pre * {
    font-family: 'Cascadia Code';
    font-size: 0.8rem;
}

.p {
    width: 100vw;
    background-color: #eee;
}

.container {
    width: 60vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5vh 0;
}

.p0 {
    height: 100vh;
}

.p0::before {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#fff7, #fff7), url(../img/title-bgimg.jpg);
    background-position: center center;
    background-size: 100%;
}

.p0 > .container {
    height: 100vh;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
}

.p0 .title {
    font-size: 8rem;
    height: 20rem;
}

.p0 .author {
    font-size: 1.5rem;
}

.title-wrapper {
    text-align: right;
    width: 60vw;
    /* height: 40vh; */
}

.title-wrapper > * {
    margin-bottom: 30px;
}
